@import url(https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto:300i,400,400i,500,700|Material+Icons&amp;display=swap);
:root {
  --gray: #6c757d;
  --bg1: #f9f9f9;
  --black: #000;
  --Green: #3db36b;
  --lightGreen: #5dc786;
}
/* ----------------------General------------------- */
.esti-btn {
  border-radius: 0%;
}
.des {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
}
#toast-container > .toast-error {
  background-color: #bd362f;
}
/* ------------------Set Heading Fonts------------ */
.font-heading {
  font-size: 3.5rem;
}
@media (max-width: 768px) {
  .font-heading {
    font-size: 2rem;
  }
}
/* ---------------------dark Navbar----------------- */

body {
  font-family: "Arimo", sans-serif;
}
/* .darkcolor, .stic{
  z-index: 2;
} */
.z-index-1 {
  z-index: 1;
}
.darkcolor,
ul.options,
.esti-btn {
  background: var(--Green);
}
.darkcolor,
ul.options,
.esti-btn,
.nav-text {
  letter-spacing: 0.125rem;
  font-size: 0.75rem;
}
ul.options {
  border: none;
  z-index: 289;
}
h1 {
  font-size: 3.125rem;
}
ul.options a:hover {
  background: var(--lightGreen);
}
/* ---------------------Light Nav----------------- */
